<header style="background-color: #0A3144; color: #EFEDEE;">
  <div class="logo">
    <img src="../../assets/logo_matheus_fundo_escuro.png" alt="Matheus Oliveira Psicólogo" />
  </div>
  <nav>
    <ul>
      <li><a href="#sobre" class="truncate">Sobre</a></li>
      <li><a href="#beneficios" class="truncate">Benefícios da Terapia</a></li>
      <li><a href="#contato" class="truncate">Contato</a></li>
      <li><a href="#agendamento" class="truncate">Agendamento</a></li>
    </ul>
  </nav>
</header>
