<section id="sobre" style="background-color: #EFEDEE; padding: 20px;">
  <div class="perfil">
    <div class="perfil-foto">
      <img src="../../assets/matheus.jfif" alt="Matheus Oliveira" />
    </div>
    <div class="perfil-texto">
      <h2 style="text-align: center;">Sobre Matheus Oliveira</h2>
      <p>Olá! Sou Matheus Oliveira, Psicólogo Clínico apaixonado por promover bem-estar através da terapia. Acredito na transformação pessoal através da identificação e reestruturação de padrões de pensamento. Vamos juntos construir caminhos positivos para uma vida mais equilibrada e feliz. Consultas disponíveis.</p>
      <p>Atualmente cursando Pós Graduação em Psicologia Jurídica, Práticas Integrativas e Complementares em Saúde e Psicologia Hospitalar.</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/matheus-oliveira-54948b29b/" target="_blank">LinkedIn</a>
        <a href="https://www.instagram.com/psi_matheus.oliveira" target="_blank">Instagram</a>
      </div>
    </div>
  </div>
</section>
