<section id="sobre" style="background-color: #EFEDEE; padding: 20px;">
  <div class="perfil">
    <div class="perfil-foto">
      <img src="../../assets/matheus.jfif" alt="Matheus Oliveira" />
    </div>
    <div class="perfil-texto">
      <h2 style="text-align: center;">Sobre Matheus Oliveira</h2>
      <p>Olá, muito prazer! Me chamo Matheus Oliveira, sou psicólogo clínico, e atuo com o público adolescente e adulto. Tenho experiência com as demandas de ansiedade, estresse, relacionamentos abusivos, autoconhecimento e autoestima.</p>
      <p>Sou da abordagem Terapeuta Cognitivo Comportamental (TCC). Ela é focada no presente e na resolução de problemas, se tornando pontual e objetiva.
      As sessões são estruturadas de acordo com seu plano de tratamento individual e em cada uma trabalhamos pontos específicos para que consiga alcançar seus objetivos.</p>
      <p>É uma abordagem bem prática, pois também temos as tarefas de casa, que nada mais é que ações em que você irá aplicar na sua rotina.</p>
      <p>A terapia é um trabalho colaborativo, em que sempre reforço a sua colaboração com seu processo.</p>
      <p>Estou aqui para oferecer um espaço seguro, livre de julgamentos, pois prezo pelo princípio do acolhimento e responsabilidade.</p>
      <p>Se você está buscando ajuda para enfrentar a ansiedade e o estresse, sair ou superar o término de relações abusivas, ter autoconhecimento e autoestima, estou aqui para acompanhá-lo em sua jornada.</p>
      <p>O caminho é bem mais leve quando decidimos não trilhar sozinho, vamos juntos?</p>

      <div class="social-links">
        <a href="https://www.linkedin.com/in/matheus-oliveira-54948b29b/" target="_blank">LinkedIn</a>
        <a href="https://www.instagram.com/psi_matheus.oliveira" target="_blank">Instagram</a>
      </div>
    </div>
  </div>
</section>
